/* FONTS */

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: normal;
  src: local('Bebas Neue'), url('../fonts/BebasNeue.woff') format('woff');
}

/* CONTENT */

body {
  margin:0;
  font-family: 'Bebas Neue';
}

a {
  color: #f6d602;
}

p {
  line-height: 18pt;
}

h2 {
  font-size: 38pt;
}

.yellow {
  color: #f6d602;
}

.cyan {
  color: #00ffba;
}

/* NAVBAR */

.topnav {
  overflow: hidden;
  background-color: #292929;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 10px;
  margin: 15px;
  text-decoration: none;
  font-size: 9px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

.sorteio-nav-logo {
  float: left;
  display: flex;
  align-items: center;
  color: #f2f2f2;
  text-align: left;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 17px;
}

.sorteio-nav-logo::before {
  background-image: url('/img/sorteio/sorteio-nav-logo.png');
  margin-right: 14px;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  content: "";
}

#sorteio-nav-quero {
  background: #f1cf00;
  border-radius: 5px;
  color: #292929;
  transition: .5s all ease;
}

#sorteio-nav-quero:hover{
  cursor: pointer;
  background: green;
  color: white;
  transition: .5s all ease;

}

/* PRODUTO */

.sorteio-produto {
  background-image: url('/img/sorteio/sorteio-produto-bg.jpg');
  background-size: cover;
  width: 100%;
}

.sorteio-font-thin {
  font-weight:300;
}

.chamada-logos{
  font-size: 12px;
}

/* VIDEO */

.chamada-video iframe {
  height: 50vw;
  margin: 30px 0px 15px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

/* FOOTER */

footer{
  color: white;
  background-color: #292929;
}

.footer-grid {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

.footer-grid > div {
  padding: 15px 35px 7.5px;
  text-align: center;
}
.footer-social {
  color: transparent;
}

.footer-social img {
  width: 28px;
  margin: 0px 5px;
}

/* MOBILE  */

@media screen and (max-width: 800px) {
/*
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav a.icon {
    font-size: 15px;
    color: #f6d602;
    position: absolute;
    right: 0;
    top: 0;
    margin: 3px;
    padding: 8px 10px;
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  } */

  .sorteio-nav-logo{
    float: none;
    font-size: 10px;
  }

  .sorteio-nav-logo::before{
    width: 26px;
    height: 26px;
  }

  .topnav-grid{
    display: flex;
    justify-content: space-between ;
  }

}

@media (min-width: 1024px){

  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 14px;
    margin: 15px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav-grid {
    max-width: 1024px;
    margin: auto;
  }

  .footer-grid {
    flex-direction: row;
    max-width: 1024px;
    margin: auto;
  }

  /* VIDEO */

  .chamada-video iframe {
    height: 394px;
  }

}

/* LETRAS */

.sorteio-produto-wrap {
  padding: 15px;
}

.chamada-letras img {
  width: 100%;
  object-fit: cover;
}



/* LOGOTIPOS */

.chamada-logos {
  display: flex;
  justify-content: space-between;
}

.chamada-logos * {
  display: flex;
  align-items: flex-end;
}

/* OFERECIMENTO & LETRAS */

.oferecimento::before {
  content: 'Oferecimento:';
  color: white;
}

.oferecimento img {
  height: 26px;
  margin: 0px 10px;
}

.tatuagem a {
  color: #f6d602;
}

.tatuagem::before {
  margin-right: 5px;
  content: 'Tatuagem por:';
  color: white;
}

/* PRODUTO DESKTOP */

  .sorteio-produto-premio img {
    display: none;
  }

/* MOBILE */

@media (min-width: 1024px) {

  .sorteio-produto-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    padding: 0px 60px 60px;
  }

  .chamada-letras img {
    width: auto;
  }

  .sorteio-produto-premio {
    z-index: 1;
    width: 340px;
    height: 750px;
  }

  .sorteio-produto-premio img {
    display: block;
    margin-left: -150px;
  }

  .sorteio-produto-chamada {
    z-index: 2;
    min-width: 700px;
    max-width: 700px;
    margin-top: 50px;
    margin-left: 50px;
  }

  .sorteio-chamada-video {
    width: 680px;
  }

  .chamada-logos {
    font-size: 18px;
  }

  .oferecimento img {
    height: 36px;
  }

}


.sorteio-participar {
  background-image: url('../img/sorteio/sorteio-participar-bg.jpg');
  background-size: cover;
  padding: 0px;
  margin: 0px;
  box-shadow: inset 0px 0px 30px #000000;
}

.sorteio-participar h2 {
  color: white;
  text-align: center;
  margin: 30px auto 0px;
}

.sorteio-participar h3 {
  color: white;
  text-align: center;
  margin: 10px auto;
  font-weight: 300;
  padding: 0px 30px
}

.sorteio-participar-diegao img {
  display: none;
}

.sorteio-participar-passo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0px 30px;
}

.passo-grid {
  display: flex;
  align-items: flex-start;
  margin: 30px 0px;
}

.passo-number {
  border: 2px white dashed;
  border-radius: 100px;
  float: left;
  padding: 12px 22px 8px;
  font-size: 30pt;
  color: white;
  margin-right: 15px;
}

.passo-titulo {
  font-size: 30pt;
  font-weight: 500;
}

.passo-txt {
  color: white;
  font-weight: 300;
  line-height: 18pt;
}

small {
  font-weight: 100;
}

/* MOBILE */

@media (min-width: 1024px) {

  .sorteio-participar h2 {
    text-align: left;
  }

  .sorteio-participar h3 {
    text-align: left;
    padding: 0px;
  }

  .sorteio-participar-passo {
    margin: 40px 60px;
  }

  .sorteio-participar-diegao img {
    display: block;
  }

  .sorteio-participar-grid {
    display: flex;
    max-width: 1200px;
    align-items: flex-end;
    justify-content: center;
    padding: 15px 15px 0px;
    margin: auto;
  }

}


.sorteio-clube {
  background-image: url('../img/sorteio/sorteio-clube-bg.jpg');
  background-position: center;
  background-size: cover;
  padding: 1px;
  margin: 0px;
}

.sorteio-clube h2 {
  color: white;
  text-align: center;
  margin: 30px auto;
}

.sorteio-clube h3 {
  color: white;
  text-align: center;
  margin: 15px auto 30px;
  font-weight: 400;
  padding: 0px 30px
}

.sorteio-clube-item {
  text-align: center;
  padding: 30px;
  color: white;
}

.sorteio-clube-item p {
  font-weight: 300;
}


@media (min-width: 1024px){

.sorteio-clube{
  padding: 60px;
}

.sorteio-clube-grid{
  max-width: 1200px;
  margin: auto;
}

.sorteio-clube-list{
  display: flex;
}

}
